---
title: Matt Sullivan, UX/Product Designer
description: Matt Sullivan is a New York City based UX/Product Designer.
---

<div class="c-content">
<%= partial "partials/_nav" %>

<section class="c-section--about">
  <h2 class="heading">About</h2>
  <p>I am a UX/Product Designer with a background in human centered design. Designs with data & user research most of the time, intuition & experience the rest of the time.</p>
  <p>Product design @ <a href="http://www.voxmedia.com/" target="_blank">Vox Media</a> in NYC.</p>
</section>

<section class="c-section--concert">
  <div class="images">
    <%= image_tag 'phone.png' %>
    <%= image_tag 'desktop.png' %>
    <%= image_tag 'phone.png' %>
    <%= image_tag 'desktop.png' %>
    <%= image_tag 'phone.png' %>
    <%= image_tag 'desktop.png' %>
  </div>
  <h2 class="heading">Concert Portfolio</h2>
  <ul class="tags">
    <li>User Reasearch</li>
    <li>UX/Visual Design</li>
  </ul>
  <p>I am a Product/UX Designer with a background in human centered design. Designs with data & user research most of the time, intuition & experience the rest of the time.</p>
  <p>Product design @ <a href="">Vox Media</a> in NYC.</p>
</section>

<section class="c-section--insights">
  <div class="images">
    <%= image_tag 'desktop.png' %>
    <%= image_tag 'phone.png' %>
    <%= image_tag 'desktop.png' %>
    <%= image_tag 'phone.png' %>
    <%= image_tag 'desktop.png' %>
  </div>
  <h2 class="heading">Insights</h2>
  <ul class="tags">
    <li>User Reasearch</li>
    <li>UX/Visual Design</li>
    <li>Development</li>
  </ul>
  <p>I am a Product/UX Designer with a background in human centered design. Designs with data & user research most of the time, intuition & experience the rest of the time.</p>
  <p>Product design @ <a href="">Vox Media</a> in NYC.</p>
</section>

<section class="c-section--hymnal">
  <div class="images">
    <%= image_tag 'desktop.png' %>
    <%= image_tag 'desktop.png' %>
    <%= image_tag 'phone.png' %>
    <%= image_tag 'phone.png' %>
    <%= image_tag 'desktop.png' %>
  </div>
  <h2 class="heading">Hymnal</h2>
  <ul class="tags">
    <li>User Reasearch</li>
    <li>UX/Visual Design</li>
    <li>Development</li>
  </ul>
  <p>I am a Product/UX Designer with a background in human centered design. Designs with data & user research most of the time, intuition & experience the rest of the time.</p>
  <p>Product design @ <a href="">Vox Media</a> in NYC.</p>
</section>

<section class="c-section--voxdotcom">
  <div class="images">
    <%= image_tag 'phone.png' %>
    <%= image_tag 'phone.png' %>
    <%= image_tag 'desktop.png' %>
    <%= image_tag 'desktop.png' %>
    <%= image_tag 'phone.png' %>
    <%= image_tag 'desktop.png' %>
  </div>
  <h2 class="heading">Voxdotcom</h2>
  <ul class="tags">
    <li>Visual Design</li>
    <li>Development</li>
  </ul>
  <p>I am a Product/UX Designer with a background in human centered design. Designs with data & user research most of the time, intuition & experience the rest of the time.</p>
  <p>Product design @ <a href="">Vox Media</a> in NYC.</p>
</section>

</div>
