---
title: Matt Sullivan, ux/product designer
description: Matt Sullivan is a New York City based UX/Product Designer.
---

<div class="c-content">

<section class="c-section--about" data-section="about">
<div data-here=""></div>
  <div class="project">
    <h2 class="heading">about</h2>
    <p>I am a ux/product designer with a background in human centered design. designs with data & user research most of the time, intuition & experience the rest of the time.</p>
    <p>product design @ <a href="http://www.voxmedia.com/" target="_blank">vox media</a> in nyc.</p>
  </div>
</section>

<section class="c-section--concert" data-section="concert">
<div data-here=""></div>
  <div class="image-container">
    <div class="images">
      <%= image_tag 'phone.png' %>
      <%= image_tag 'desktop.png' %>
      <%= image_tag 'phone.png' %>
      <%= image_tag 'desktop.png' %>
      <%= image_tag 'phone.png' %>
      <%= image_tag 'desktop.png' %>
    </div>
  </div>
  <div class="project">
    <h2 class="heading">concert portfolio</h2>
    <ul class="tags">
      <li><p>user reasearch</p></li>
      <li><p>ux/visual design</p></li>
    </ul>
    <p>I am a ux/product designer with a background in human centered design. designs with data & user research most of the time, intuition & experience the rest of the time.</p>
    <p>product design @ <a href="http://www.voxmedia.com/" target="_blank">vox media</a> in nyc.</p>
  </div>
</section>

<section class="c-section--insights" data-section="insights">
<div data-here=""></div>
  <div class="image-container">
    <div class="images">
      <%= image_tag 'desktop.png' %>
      <%= image_tag 'phone.png' %>
      <%= image_tag 'desktop.png' %>
      <%= image_tag 'phone.png' %>
      <%= image_tag 'desktop.png' %>
    </div>
  </div>
  <div class="project">
    <h2 class="heading">insights</h2>
    <ul class="tags">
      <li><p>user reasearch</p></li>
      <li><p>ux/visual design</p></li>
      <li><p>development</p></li>
    </ul>
    <p>I am a ux/product designer with a background in human centered design. designs with data & user research most of the time, intuition & experience the rest of the time.</p>
    <p>product design @ <a href="http://www.voxmedia.com/" target="_blank">vox media</a> in nyc.</p>
  </div>
</section>

<section class="c-section--hymnal" data-section="hymnal">
<div data-here=""></div>
  <div class="image-container">
    <div class="images">
      <%= image_tag 'desktop.png' %>
      <%= image_tag 'desktop.png' %>
      <%= image_tag 'phone.png' %>
      <%= image_tag 'phone.png' %>
      <%= image_tag 'desktop.png' %>
    </div>
  </div>
  <div class="project">
    <h2 class="heading">hymnal</h2>
    <ul class="tags">
      <li><p>user reasearch</p></li>
      <li><p>ux/visual design</p></li>
      <li><p>development</p></li>
    </ul>
    <p>I am a ux/product designer with a background in human centered design. designs with data & user research most of the time, intuition & experience the rest of the time.</p>
    <p>product design @ <a href="http://www.voxmedia.com/" target="_blank">vox media</a> in nyc.</p>
  </div>
</section>

<section class="c-section--voxdotcom" data-section="vox">
<div data-here=""></div>
  <div class="image-container">
    <div class="images">
      <%= image_tag 'phone.png' %>
      <%= image_tag 'phone.png' %>
      <%= image_tag 'desktop.png' %>
      <%= image_tag 'desktop.png' %>
      <%= image_tag 'phone.png' %>
      <%= image_tag 'desktop.png' %>
    </div>
  </div>
  <div class="project">
    <h2 class="heading">voxdotcom</h2>
    <ul class="tags">
      <li><p>visual design</p></li>
      <li><p>development</p></li>
    </ul>
    <p>I am a ux/product designer with a background in human centered design. designs with data & user research most of the time, intuition & experience the rest of the time.</p>
    <p>product design @ <a href="http://www.voxmedia.com/" target="_blank">vox media</a> in nyc.</p>
  </div>
</section>

</div>
