---
title: Matt Sullivan, ux/product designer
description: Matt Sullivan is a New York City based UX/Product Designer.
---

<div class="c-content">

<section class="c-section--about" data-section="about">
<div data-here=""></div>
  <div class="project">
    <h2 class="heading">about</h2>
    <p>I am a ux/product designer with a background in human centered design. designs with data & user research most of the time, intuition & experience the rest of the time.</p>
    <p>product design @ <a href="http://www.voxmedia.com/" target="_blank">vox media</a> in nyc.</p>
  </div>
</section>

<section class="c-section--concert" data-section="concert">
<div data-here=""></div>
  <div class="image-container">
    <div class="images images--active">
      <%= image_tag 'phone.png' , class: 'active' %>
      <%= image_tag 'desktop.png' %>
      <%= image_tag 'phone.png' %>
      <%= image_tag 'desktop.png' %>
      <%= image_tag 'phone.png' %>
      <%= image_tag 'desktop.png' %>
    </div>
  </div>
  <div class="project">
    <h2 class="heading">concert portfolio</h2>
    <ul class="tags">
      <li><p>user reasearch</p></li>
      <li><p>ux/visual design</p></li>
    </ul>
    <p>I am a ux/product designer with a background in human centered design. designs with data & user research most of the time, intuition & experience the rest of the time.</p>
    <p>product design @ <a href="http://www.voxmedia.com/" target="_blank">vox media</a> in nyc.</p>
  </div>
</section>

<section class="c-section--insights" data-section="insights">
<div data-here=""></div>
  <div class="image-container">
    <div class="images images--active">
      <%= image_tag 'insights-homepage.jpg', class: 'active' %>
      <%= image_tag 'insights-client-breakdown.jpg' %>
      <%= image_tag 'insights-patterns.jpg' %>
      <%= image_tag 'insights-homepage.jpg' %>
      <%= image_tag 'insights-client-breakdown.jpg' %>
    </div>
  </div>
  <div class="project">
    <h2 class="heading">insights</h2>
    <ul class="tags">
      <li><p>user reasearch</p></li>
      <li><p>ux/visual design</p></li>
      <li><p>development</p></li>
    </ul>
    <p>I led a small team to help redesign our analytics platform by establishing modular design patterns to help tell the story of a brand partner's performance through data.</p>
    <p>One of the main challenges of the project was to establish design patterns that would work across all types of campaigns, while pulling out the most relevant pieces of the data story. We used a blend of data visualization and natural language summaries.</p>
  </div>
</section>

<section class="c-section--hymnal" data-section="hymnal">
<div data-here=""></div>
  <div class="image-container">
    <div class="images images--active">
      <%= image_tag 'hymnal-campaigns.jpg', class: 'active' %>
      <%= image_tag 'hymnal-campaigns-view.jpg' %>
      <%= image_tag 'hymnal-ad-view.jpg' %>
    </div>
  </div>
  <div class="project">
    <h2 class="heading">hymnal</h2>
    <ul class="tags">
      <li><p>user reasearch</p></li>
      <li><p>ux/visual design</p></li>
      <li><p>development</p></li>
    </ul>
    <p>For the past two years, I've led product design and development on our proprietary custom display and native ad unit publishing platform, Hymnal.</p>
    <p>I work with a small but mighty team on creating the best user experience possible on a platform that's a workhorse for the company's bottom line. I've had the pleasure of conducting several product design sprints with the team, guiding everything from wireframing to sketching to prototyping to testing the platform on users.</p>
  </div>
</section>

<section class="c-section--voxdotcom" data-section="vox">
<div data-here=""></div>
  <div class="image-container">
    <div class="images images--active">
      <%= image_tag 'vox-homepage.jpg', class: 'active' %>
      <%= image_tag 'vox-homepage--mobile.jpg' %>
      <%= image_tag 'vox-article.jpg' %>
      <%= image_tag 'vox-article--mobile.jpg' %>
      <%= image_tag 'vox-storystreams.jpg' %>
      <%= image_tag 'vox-storystreams--mobile.jpg' %>
    </div>
  </div>
  <div class="project">
    <h2 class="heading">voxdotcom</h2>
    <ul class="tags">
      <li><p>visual design</p></li>
      <li><p>development</p></li>
    </ul>
    <p>Being part of the Voxdotcom Homepage Redesign Team has been extremely rewarding and instrumental in my professional growth. Over the course of a few months the team went from mocks, to prototypes, to the actual buildout. This involved refining and interacting with both the design and coding to focus on clarity of information, good design, and clean code.</p>
  </div>
</section>

</div>
